*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* header */

.jumbo{
    height: 60px;
    background-color: #ff6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    width: 100%;
}

ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

li a{
    text-decoration: none;
    color: #ffe8d8;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.logo img{
    width: 7rem;
}

.icone{
    color: #ffe8d8 ;
    cursor: pointer;
}

/* main con card */

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 83%;
    margin: 0 auto;
}

.card{
    width: calc(100% / 3 - 60px);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-img{
    background-size: cover;
    height: 500px;
    width: 380px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* card img e hover */

.card-one{
    background-image: url(../img/1.webp);
}

.card-one:hover{
    background-image:url(../img/1b.webp);
}

.card-two{
    background-image: url(../img/2.webp);
}

.card-two:hover{
    background-image:url(../img/2b.webp);  
}

.card-three{
    background-image: url(../img/3.webp);
}

.card-three:hover{
    background-image:url(../img/3b.webp);
}

.card-four{
    background-image: url(../img/4.webp);
}

.card-four:hover{
    background-image:url(../img/4b.webp);  
}

.card-five{
    background-image: url(../img/5.webp);
}

.card-five:hover{
    background-image:url(../img/5b.webp);
}

.card-six{
    background-image: url(../img/6.webp);
}

.card-six:hover{
    background-image:url(../img/6b.webp);  
}

/* didascalie */

.heart{
    background-color: #ffffff;
    position: relative;
    bottom: 90%;
    left: 97%;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.heart:hover{
    color: #ff0000;
}

span{
   
    font-weight: bold;
    font-size: 12px;
}

.brend{
    font-size: 10px;
    color: #717070;
}

.prezzo{
    color: #ff0000;
}

.fix{
    text-decoration: line-through;
    color: #000;
}

.sales{
    position: absolute;
    bottom: 130px;
}

.sconto{
    background-color: #ff0000;
    padding: 5px;
    color: #fff;
}

.materiali{
    background-color: #007f00;
    padding: 5px;
    color: #fff;
}

/* footer */

.footer{
    height: 60px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer-logo{
    margin: 0 150px;
}

.info a{
    font-size: 10px;
    color: #fff;
}

.footer-icon{
    margin: 0 150px;
}

.icone-footer i{
    margin-top: 10;
    margin-right: 5px;
}