*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* header */

.jumbo{
    height: 60px;
    background-color: #ff6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    width: 100%;
}

ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

li a{
    text-decoration: none;
    color: #ffe8d8;
    font-weight: bold;
    font-size: 14px;
}

.logo img{
    width: 7rem;
}

.icone{
    color: #ffe8d8 ;
}

/* main con card */

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 83%;
    margin: 0 auto;
}

.card{
    width: calc(100% / 3 - 60px);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.card img{
    height: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.heart{
    background-color: #ffffff;
    position: relative;
    bottom: 90%;
    left: 88%;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 2rem;
}

span{
   
    font-weight: bold;
    font-size: 12px;
}

.brend{
    font-size: 10px;
    color: #717070;
}

.prezzo{
    color: #ff0000;
}

.fix{
    text-decoration: line-through;
    color: #000;
}